<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <li><a href="{% url 'eFarmer:saleProduct'%}">sale product</a>
      </li>
      <li>
        <a href="{%url 'eFarmer:viewSaleItems'%}">view sale items</a>
      </li>
      <li>
        <a href="{% url 'eFarmer:viewMandiRateList'%}">view mandi_rate list</a>
      </li>
      <li>
        <a href="{% url 'eFarmer:logout'%}">Logout</a>
      </li>
    </ul>
  </body>
</html>
